# Python files (legacy)
__pycache__/
*.pyc
*.json
!web/**/*.json
!build/web/**/*.json
track_seed_*.json

# Flutter and Dart files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata

# IDE files
.idea/
.vscode/
*.iml

# Logs and Lockfiles
*.log
flutter_*.log
pubspec.lock
